{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "quoteProps": "consistent",
  "plugins": ["prettier-plugin-organize-imports"]
}
