@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
}

* {
  box-sizing: border-box;
}
